
* {
  box-sizing: border-box;
}

.body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #515076;
}

.background-container {
  width: 790px;
  height: 697px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 85px;
  background-image: url("./img/background_6.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

.table_with_product_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.product {
  margin: 10px;
  padding: 15px;
  background-color: #5150761a;
  width: 320px;
  height: 600px;
  border-radius: 30px;
}


.product__image {
  text-align: center;
}

.note {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #a5a3b9;
}

.product__name {
  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  color: #515076;
  margin: 10px 0px 10px 0px;
}

.product__description {
  margin: 10px 0px 10px 0px;
}

ul {
  list-style-type: circle;
  padding-left: 15px;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.buy__button {
  padding: 8px 18px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #515076;
  border-radius: 35px;
  border: none;
}

.price__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #515076;
}

.sum {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #515076;
}
