.body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #515076;
  margin: 0;
  padding: 20px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.product {
  margin: 20px;
  padding: 20px;
  background-color: #5150761a;
  width: 300px;
  border-radius: 30px;
}

.product__image {
  text-align: center;
}

.note {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #a5a3b9;
}

.product__name {
  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  color: #515076;
}

ul {
  list-style-type: circle;
  padding-left: 15px;
}

.button {
  padding: 8px 18px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #515076;
  border-radius: 35px;
  border: none;
}

.price__container {
  text-align: center;
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #515076;
  margin-right: 160px;
}

.sum {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #515076;
}
